table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 15%;
}
  
td, th {
    width: 25%;
}

.modal-header{
    display: block !important;
}

#infoMove p{
    white-space: pre-line;
}

.modal-content{
    border-radius: 25px;
    border: solid 4px #FFFFE0;
}

.modal-footer{
    display: block !important;
    text-align:center;
    background-color: #ef5350;
    border-radius: 0 0 20px 20px;
}

.badge{
    padding: 6px;
}

.modal-header{
    
    background-color: #ef5350;
    color:white;
    border-radius: 20px 20px 0 0;
    display: block;
}

.modal-header button{
    margin-top: -15%;
    color: white;
}

.modal-body{
    overflow-y: auto;
    max-height: 400px;
}

.modal-content{
    border-radius: 25px;
    border: solid 4px #FFFFE0;
}

.modal-dialog{
    font-weight: bold;
}